body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}


/* Map */

#map {
  height: 100vh;
  width:100%;
}

.map-column {
  padding-left: 0;
  padding-right: 0;
}


/* Map Popups */

.leaflet-container {
  font-family: 'Montserrat', sans-serif !important;
}

.leaflet-container .popup-location-name {
  font-weight: 800 !important;
}


/* Search area */

.search-column {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 0;
}


/* Search bar filters */

.search-filter {
  margin: 2% 1%;
}


/* Search Bar */

.search-bar {
  margin: 0% 1%;
}

.search-bar .col-sm-9 {
  padding-right: 0;
}

.search-bar .col-sm-3 {
  padding-left: 0.5%;
}

#searchbtn {
  position: relative;
  width: 100%;
}

.drop-container {
  border: solid;
}

.dropdown {
  display: block;
  height: 50px;
  width: 100%;
  z-index: 2;
}


/* Results area */

.results-row {
  color: white;
}


