body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}


/* Map */

#map {
  height: 100vh;
  width:100%;
  position: relative;
  z-index: 1;
}

/* .map-column {
  padding-left: 0;
  padding-right: 0;
} */


/* Map Popups */

.leaflet-container {
  font-family: 'Montserrat', sans-serif;
}

.leaflet-container .popup-location-name {
  font-weight: 800;
}


/* Search area */

.search-area-background {
  height: 14%;
  width: 40%;
  background: #008001;
  position: absolute;
  top: 2.5%;
  left: 60%;
  z-index: 2;
  opacity: 50%;
  border-radius: 10% 0% 0% 10%;
}

.search-area {
  height: 95%;
  width: 40%;
  position: absolute;
  top: 2.5%;
  left: 60%;
  z-index: 3;
  border-radius: 2% 0% 0% 2%;
}

/* Search bar filter buttons */

.search-filter {
  margin: 2% 1%;
}

.btn-primary {
  background-color: #986026;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #e26426;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #cfae29;
}

/* Search Bar */

.search-bar {
  margin: 0% 1%;
}

.search-bar .col-sm-9 {
  padding-right: 0;
}

.search-bar .col-sm-3 {
  padding-left: 0.5%;
}

#searchbtn {
  position: relative;
  width: 100%;
}

.btn-secondary, .btn-secondary:focus {
  background-color: #ffd534;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #c5a525;
}

.btn-secondary:hover {
  background-color: #cfae29;
}

.drop-container {
  border: solid;
}

.dropdown {
  display: block;
  height: 50px;
  width: 100%;
  z-index: 2;
}


/* Results area */

.results-row {
  color: white;
}


