/* #map-secion .col-md-6, .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
} */


/* Map */

#map {
  height: 100vh;
  width:100%;
}

.map-column {
  padding-left: 0;
  padding-right: 0;
}


/* Map Popups */

.leaflet-popup-content-wrapper .popup-location{
  line-height: 1;
}


/* Search area */

.search-column {
  padding-left: 0;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.644);
}


/* Search bar filters */

.search-filter-row {
  margin-bottom: 0.5%;
}


/* Search Bar */

.search-bar .col-sm-9 {
  padding-right: 0;
}

.search-bar .col-sm-3 {
  padding-left: 0.5%;
}

#searchbtn {
  position: relative;
  width: 100%;
}

.drop-container {
  border: solid;
}

.dropdown {
  display: block;
  height: 50px;
  width: 100%;
  z-index: 2;
}


/* Results area */

.results-row {
  color: white;
}


